/* line 1, ../sass/toolbar.scss */
.edit-head {
  height: 82px;
  box-sizing: border-box;
  background-color: #ececec;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 650;
  text-align: center;
}
/* line 10, ../sass/toolbar.scss */
.edit-head .scene-name {
  display: block;
  width: 287px;
  font-size: 30px;
  text-align: left;
  float: left;
  height: 82px;
  line-height: 82px;
  background-color: #ececec;
  padding: 0 15px;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}
/* line 22, ../sass/toolbar.scss */
.edit-head .scene-name .btn-scene {
  height: 100%;
  width: 90%;
  border: none;
  text-align: left;
  padding: 0;
  color: #000;
  display: inline-block;
  line-height: 82px;
  background-color: #ececec;
  font-size: 15px;
}
/* line 34, ../sass/toolbar.scss */
.edit-head .scene-name .drop-scene {
  height: 100%;
  padding: 0;
  border: none;
  background-color: #ececec;
  position: absolute;
  right: 18px;
}
/* line 41, ../sass/toolbar.scss */
.edit-head .scene-name .drop-scene .caret {
  border-top: 6px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
/* line 47, ../sass/toolbar.scss */
.edit-head .scene-name .scene-menu {
  width: 288px;
  box-sizing: border-box;
}
/* line 52, ../sass/toolbar.scss */
.edit-head .nav-bar {
  border-bottom: 1px solid #dcdcdc;
  background-color: #FFF;
  font-size: 18px;
  margin-bottom: 0;
  height: 82px;
  background-color: #ececec;
  line-height: 82px;
  display: inline-block;
  margin: 0 auto;
}
/* line 63, ../sass/toolbar.scss */
.edit-head .nav-bar .has-border:after {
  padding-right: 2px;
  background-color: #d0d0d0;
  position: absolute;
  top: 15px;
  height: 20px;
  content: "";
  display: block;
}
/* line 74, ../sass/toolbar.scss */
.edit-head .nav-bar li {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
/* line 80, ../sass/toolbar.scss */
.edit-head .nav-bar li .btnlink {
  display: block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 6px 10px;
  cursor: pointer;
}
/* line 88, ../sass/toolbar.scss */
.edit-head .nav-bar li .btnlink img {
  vertical-align: middle;
  margin-top: -3px;
}
/* line 92, ../sass/toolbar.scss */
.edit-head .nav-bar li .btnlink span {
  display: block;
}
/* line 95, ../sass/toolbar.scss */
.edit-head .nav-bar li .btnlink .nav-btn-name {
  font-size: 15px;
}
/* line 101, ../sass/toolbar.scss */
.edit-head .nav-bar li #undoBtn .nav-img-off, .edit-head .nav-bar li #redoBtn .nav-img-off {
  display: inline-block;
}
/* line 104, ../sass/toolbar.scss */
.edit-head .nav-bar li #undoBtn .nav-img-active, .edit-head .nav-bar li #redoBtn .nav-img-active {
  display: none;
}
/* line 107, ../sass/toolbar.scss */
.edit-head .nav-bar li #undoBtn .nav-btn-name, .edit-head .nav-bar li #redoBtn .nav-btn-name {
  font-size: 15px;
}
/* line 112, ../sass/toolbar.scss */
.edit-head .nav-bar li .right-border {
  border-right: 1px solid #555;
}
/* line 118, ../sass/toolbar.scss */
.edit-head .nav-bar li.item-active .btnlink {
  background: url("../../../../static/img/tool-btn-bg.png");
  background-repeat: no-repeat;
}
/* line 122, ../sass/toolbar.scss */
.edit-head .nav-bar li.item-active #undoBtn, .edit-head .nav-bar li.item-active #redoBtn {
  background: none;
}
/* line 124, ../sass/toolbar.scss */
.edit-head .nav-bar li.item-active #undoBtn .nav-img-off, .edit-head .nav-bar li.item-active #redoBtn .nav-img-off {
  display: none;
}
/* line 127, ../sass/toolbar.scss */
.edit-head .nav-bar li.item-active #undoBtn .nav-img-active, .edit-head .nav-bar li.item-active #redoBtn .nav-img-active {
  display: inline-block;
}
/* line 134, ../sass/toolbar.scss */
.edit-head .nav-bar .item-active .btnlink {
  background: url("../../../../static/img/tool-btn-bg.png");
  background-repeat: no-repeat;
}
/* line 137, ../sass/toolbar.scss */
.edit-head .nav-bar .item-active .btnlink .nav-btn-name {
  color: #00B7EE;
  font-size: 15px;
}
/* line 144, ../sass/toolbar.scss */
.edit-head .nav-bar .item-active .btnlink {
  background: url("../../../../static/img/tool-btn-bg.png");
  background-repeat: no-repeat;
}
/* line 150, ../sass/toolbar.scss */
.edit-head .nav-bar .item-active .btnlink {
  background: url("../../../../static/img/tool-btn-bg.png");
  background-repeat: no-repeat;
}
/* line 156, ../sass/toolbar.scss */
.edit-head .nav-bar .item-active .btnlink {
  background: url("../../../../static/img/tool-btn-bg.png");
  background-repeat: no-repeat;
}
/* line 163, ../sass/toolbar.scss */
.edit-head .nav-bar .disabled-item .btnlink span {
  color: #ccc;
}
/* line 168, ../sass/toolbar.scss */
.edit-head .nav-bar .model-action {
  display: none;
}
/* line 173, ../sass/toolbar.scss */
.edit-head .nav-bar .transform-action .tabaddul .addli:hover {
  background: #f3f3f3 !important;
}
/* line 179, ../sass/toolbar.scss */
.edit-head .scene-3d {
  width: 720px;
  max-width: 720px;
}
/* line 183, ../sass/toolbar.scss */
.edit-head .model-3d {
  width: 660px;
  max-width: 660px;
}
/* line 187, ../sass/toolbar.scss */
.edit-head .pano-view {
  width: 600px;
  max-width: 600px;
}
